{% extends 'layouts.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Esewa Payment</title>
{% endblock %}


{% block main_content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">
                You are being redirect to Esewa, Please wait .....
            </h1>
            <!-- <div class="card" style="display:none"> -->
                
                    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST" id="esewa_form">
                    <input type="text" id="amount" name="amount" value="{{data.amount}}"  required>
                    <input type="text" id="tax_amount" name="tax_amount" value ="0" required>
                    <input type="text" id="total_amount" name="total_amount" value="{{data.total_amount}}" required>
                    <input type="text" id="transaction_uuid" name="transaction_uuid" value="{{data.transaction_uuid}}">
                    <input type="text" id="product_code" name="product_code" value ="EPAYTEST" required>
                    <input type="text" id="product_service_charge" name="product_service_charge" value="0" required>
                    <input type="text" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
                    <input type="text" id="success_url" name="success_url" value="http://127.0.0.1:8000/esewaverify/{{order.id}}" required>
                    <input type="text" id="failure_url" name="failure_url" value="https://google.com" required>
                    <input type="text" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" required>
                    <input type="text" id="signature" name="signature" value="{{data.signature}}" required>
                    <input value="Submit" type="submit">
                    </form>
                   
                    
            </div>
        </div>
    </div>
</div>
<!-- <script>
    setTimeout(function(){
        document.getElementById('esewa_form').submit()
    },1000)
</script> -->
{% endblock %}